@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body {
    font-family: Michroma, serif;
    background: #fff;
    font-size: 24px;
    color: #000;
}

p {
    color: #000;
}
a{
    color: #000;
}

.nav-link {
    color:#fff;
}

.navbar-nav .nav-link.active {
    color:rgb(143, 142, 142);

}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(143, 142, 142);
}

.sidebar {
    color: #000;
    background: #fff;


}

.card {
    background-color: rgb(143, 142, 142);
    color: #000;
}

.card a {
    text-decoration: none;
    color: #000;
}

.slide-text,
.footer-text {
    color:#000;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background:rgb(123, 123, 123);
    color: #000;

}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover{
    color: #c6c6c6;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
    .Download img{
        margin-left: 0;
    }
}
@media (max-width: 1050px) {
    .Guide img{
        width: 100%;
    }

}
.twosec{
    width: 100%;
    height: 100vh;
}
.massige{
    gap: 20px;
}
.Download{
    text-align: center;
    height: 100vh;
    padding: 100px;
}
.Download div{
    background: #e9e9e9;
    border-radius: 20px;
}
.Download img{
    border-radius: 20px;
}
.Guide{
    font-family: none;
    width: 100%;
    height: auto;
    padding: 27px ;
}
.Guide div{
    background: #e9e9e9;
    border-radius: 20px ;
}
 span{
    font-size: 30px;
}
.navbarGuide{
    margin: 20px;
    
} 
.Guide img{
    border-radius: 1%;

} 
